// Set location of you reference files here (see below for the files required)
REFBASE="./data"

// Set a good location for storing large temp files here (probably not /tmp)
TMPDIR="/usr/local/work/lee.s"

// Set location of Picard tools here
PICARD_HOME="/usr/local/bioinfsoftware/picard-tools/current/jars"

// Set to the reference FASTA file, which must be indexed
REF="$REFBASE/Pfalciparum.genome.fasta"

// Set to a VCF file containing DBSNP entries
REFSNP=""

// Log data from various tools will appear in here
LOG="pipeline.log"

// Set GATK location here
GATK="/usr/local/bioinfsoftware/gatk/current/"

// Set location of snpEff here
SNPEFF_HOME="/usr/local/bioinfsoftware/snpEff/current"
//Set location of snpEff config file
SNPEFF_CONFIG=$REFBASE/annotations/

// This is only used for setting read group information in the
// BAM files
PLATFORM="illumina"


